name: ci-golang-workflow
on: [push]

jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # Baixa os arquivos do push no ubuntu
      - uses: actions/setup-go@v3 # repository/actionName
        with:
          go-version: 1.21.4 # Setando versao do GO
      - run: go test # Rodando comandos
      - run: go run math.go